---
import ImageMod from "@/components/ImageMod.astro";
// import type { ListFormat } from "typescript";

import * as testimonials from '../../content/sections/testimonial.md';

// interface Frontmatter {
//   enable:boolean;
//   testimonials: ListFormat;
// }
// const testimonial = await Astro.glob<Frontmatter>('../sections/testimonial.md');
---

{
  testimonials.frontmatter.enable && (
    <div class="swiper testimonial-slider m-0 p-0">
      <div class="swiper-wrapper m-0 p-0">
        {testimonials.frontmatter.testimonials.map(
          (item: { avatar: string; name: string }) => (
            <div class="swiper-slide my-0">
              <ImageMod
                height={512}
                width={512}
                src={item.avatar}
                alt={item.name}
                class="w-full aspect-square object-contain rounded-lg shadow-lg transition-transform duration-300"
                format="webp"
              />
            </div>
          ),
        )}
      </div>
    </div>
    <div class="testimonial-slider-pagination mt-0 flex items-center justify-center text-center" />
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>
