@theme {
    --animate-pulse-strong: pulse-strong 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    @keyframes pulse-strong {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
    }

    --animate-wiggle: wiggle 1s ease-in-out infinite;  
    @keyframes wiggle {    
        0%,
        100% {
        transform: rotate(-3deg);
        }
        50% {
        transform: rotate(3deg);
        }
    }
}