---
import Base from "@/layouts/Base.astro";
import Services from "@/partials/Services.astro";
import PageBanner from "@/partials/PageBanner.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

const homepage = (await getEntry(
  "homepage",
  "-index",
)) as CollectionEntry<"homepage">;

const { Content } = await render(homepage);

const { banner, services, offers } = homepage.data;
---

<Base>
  <!-- Banner -->
  <PageBanner banner={banner} />
  <!-- /Banner -->

  <!-- Content -->
  <div class="container pt-8">
    <div class="row justify-center">
      <div class="md:col-10 lg:col-10">
        <div class="content">
          <Content />
        </div>
      </div>
    </div>
  </div>
  <!-- /Content -->

  <!-- Leistungen -->
  <Services services={services} />
  <!-- /Leistungen -->

  <!-- Zusatzangebote -->
  <Services services={offers} />
  <!-- /Zusatzangebote -->
</Base>
